* {
  box-sizing: border-box;
}
.container {
  background-image: url(image0.jpeg);
  background-size: cover;
}
.container {
  padding:0px 0px 500px 0px;
}
.container h1 {
  color: white;
}
.container ul {
  color: white;
}
